body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 8px;
    background-color: #3490dc;
    color: #fff;
    border: none;
    cursor: pointer;
}

#offers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.offer {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
}

.offer-requests {
    color: #00e700;
}

#offers-list .progress-bar {
    height: 20px;
    background-color: #4CAF50;
    width: 0;
    transition: width 0.5s;
}
